/* Styles for the frontend */
.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

input[type="text"], input[type="password"], select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#publicPlaylistForm, #loginForm, #playlistForm, #addMovieForm {
  display: none;
}

#addMovieForm h2 {
  margin-top: 30px;
}
